<div class="bg-gray-100 min-h-screen flex flex-col">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Edit <%= resource_name.to_s.humanize %></h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.text_field :name, placeholder: "Full Name", class: "block border border-gray-200 w-full p-3 rounded mb-4" %>

        <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "block border border-gray-200 w-full p-3 rounded mb-4" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "block border border-gray-200 w-full p-3 rounded mb-4" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>

        <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "new-password", class: "block border border-gray-200 w-full p-3 rounded mb-4" %>

        <button
          type="submit"
          class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-600 focus:outline-none my-1"
        >Update Account</button>

        <%= button_to "Cancel Account", registration_path(resource_name), class: "w-full text-center py-3 rounded bg-red-500 text-white hover:bg-red-600 focus:outline-none my-1", data: { confirm: "Are you sure?" }, method: :delete %>

        <div class="text-center text-sm text-gray-500 mt-4">
          By signing up, you agree to the
          <a class="no-underline border-b border-gray-500 text-gray-dark" href="#">
              Terms of Service
          </a> and
          <a class="no-underline border-b border-gray-500 text-gray-dark" href="#">
              Privacy Policy
          </a>
        </div>
      <% end %>
    </div>

    <div class="text-gray-dark mt-6">
      Already have an account?
      <a class="no-underline border-b border-blue-500 text-blue-500" href="/users/sign_in">
        Log in
      </a>.
    </div>
  </div>
</div>
